* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    color: rgb(245, 245, 245);
    background: url(img/fb3.jpg);
}
.calculadora-grilla {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);

}

.calculadora-grilla > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;

}

.output .display {
    color: rgb(0, 0, 0);
    font-size: 1.85rem;
    text-align: right;
}

.calculadora-grilla > button:hover {
    background-color: rgb(49, 47, 47);
}